.canvas{
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 0.5;
    background: var(--bg-clr-sec);
    border: 2px solid black;
    border-radius: var(--border-rad-sec);
    overflow: hidden;

    @media(max-width: 450px){
        aspect-ratio: 1/ 1;
    }
}