@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
    /*general color variables*/
    --font-clr-prim: #ffffff;
    --font-clr-sec: #b4b3b3;
    --font-clr-cont: #000;
    --border-clr-prim: #808080;
    --border-clr-sec: #ffffff;
    --accent-clr: #4400ff;

    /*other variables*/
    --max-width: 1024px;

    /*fontsize variables*/
    --font-size-xl: 54px;
    --font-size-lrg: 40px;
    --font-size-med: 23px;
    --font-size-sml: 14px;

    /*other variables*/
    --border-rad-prim: 5px;
    --border-rad-sec: 30px;

    /*button variables*/
    --btn-bg-prim: #4400ff;
    --btn-bg-sec: rgb(68, 0, 255, 0.5);

    /*form variables*/
    --form-bg-prim: #1e1e1e;
    --form-bg-sec: #2a2a2a;

    /*h1 variables*/
    --h1-clr-prim: #4400ff;
    --h1-clr-sec: #9683ff;

    /*dropdown variables*/
    --drp-dwn-bg: rgb(0, 0, 0, 0.5);
    --drp-dwn-hov: #2a2a2a;

    /*background variables*/
    --bg-clr-prim: #030712;
    --bg-clr-sec: #23263a;
    --grad-clr-one: rgba(83, 71, 255, 0.5);
    --grad-clr-two: #57cdff00;
    --grid-clr: #1c1e25;
    --bg-size: 5rem;
}



*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: var(--font-clr-prim);
}

::after, ::before{
  content: '';
  position: absolute;
}

::selection{
  background: var(--accent-clr);
  color: var(--font-clr-cont);
}

nav{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  z-index: 1000;
  backdrop-filter: blur(3px);
  border-bottom: 1px solid var(--border-clr-prim);
  max-width: calc(var(--max-width) + 4rem);

  &::after{
    bottom: -5px;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--border-clr-prim);
  }
}

body{
  min-height: 100vh;
  padding-top: 10vh;
  background: var(--bg-clr-prim);
  background-size: var(--bg-size) var(--bg-size);
  background-image: 
    linear-gradient(var(--grid-clr) 2px, transparent 2px),
    linear-gradient(90deg, var(--grid-clr) 2px, transparent 2px);

  &::after{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: 
      radial-gradient(75.53% 100.65% at 50% -45.96%, 
      var(--grad-clr-one) 0, 
      var(--grad-clr-two) 100%);
  }
}

footer{
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 100px;
  margin-inline: auto;
  border-top: 1px solid var(--border-clr-prim);
  max-width: calc(var(--max-width) + 4rem);
}

a{
  color: var(--font-clr-prim);
}

button, button:focus{
  border: none;
  outline: none;
}

main{
  width: 100%;
  margin-inline: auto;
  max-width: var(--max-width);
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.gui{
  position: absolute;
  top: 10px;
  left: 10px;
}

.dg{
  width: 150px;
}

.close-button.close-bottom{
  width: 150px;
  max-width: 150px;
  margin-top: 10px;
  border-radius: var(--border-rad-prim);
}