.h1{
  font-weight: 700;
  line-height: 1.1;
  max-width: 700px;
  text-align: center;
  font-size: var(--font-size-xl);

  .span{
    background: linear-gradient(to right, var(--h1-clr-prim), var(--h1-clr-sec));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.p{
  line-height: 1.4;
  margin-top: 1.5rem;
  max-width: 550px;
  text-align: justify;
  color: var(--font-clr-sec);

  
}

section:first-of-type .p:nth-of-type(1) {
  text-align: center;
}

.cta{
  margin-top: 2rem;
  margin-bottom: 150px;
  padding: 0.85rem 2.2rem;
  background: var(--btn-bg-prim);
  border-radius: var(--border-rad-sec);
}