.login{
    padding: 0.52rem 1.5rem;
    backdrop-filter: blur(10px);
    background: var(--btn-bg-sec);
    border-radius: var(--border-rad-sec);
    font-size: var(--font-size-sml);
}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}