.section{
    height: calc(100vh - 10vh);
    max-width: 330px;
    width: 100%;
    margin-inline: auto;
    padding-top: 0;
}

.form{
    display: grid;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    background: #1e1e1e;
    border-radius: 5px;

    .span{
        display: grid;
        gap: 0.5rem;
    }

    &:nth-child(2){
        border-top: 1px solid grey;
    }
}

.github{
    background: #2a2a2a;
    padding-block: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}