.ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.icon{
    background: none;
    cursor: pointer;
    border: none;
}

.login{
    padding: 0.65rem 1.5rem;
    border-radius: 20px;
    background: rgb(68, 0, 255, 0.5);
    backdrop-filter: blur(10px);
    font-size: 14px;
}