.dropdown {
    position: relative;
  }
  
  .dropdown button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .dropdownMenu {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    width: 100px;
    display: none;
    flex-direction: column;
    z-index: 1;
    background-color: var(--drp-dwn-bg);
    border-radius: var(--border-rad-prim);
    padding: 0.375rem;
  }
  